//////////////////////////////////////////////////////////////////////
//	Button Icon
//
iconNxtKey  ICON  "i_nxtkey.ico"
iconLstKey  ICON  "i_lstkey.ico"
iconNxtMrk  ICON  "i_nxtmrk.ico"
iconLstMrk  ICON  "i_lstmrk.ico"
iconNxtDel  ICON  "i_nxtdel.ico"
iconLstDel  ICON  "i_lstdel.ico"
iconNxtCpy  ICON  "i_nxtcpy.ico"
iconLstCpy  ICON  "i_lstcpy.ico"
iconStart   ICON  "i_start.ico"
iconEnd     ICON  "i_end.ico"
iconFirst   ICON  "i_first.ico"
iconLast    ICON  "i_last.ico"


//////////////////////////////////////////////////////////////////////
//  VERSION INFO
//
VS_VIRSION_INFO VERSIONINFO
 FILEVERSION    0,0,1,0
 PRODUCTVERSION 0,0,1
 FILEFLAGSMASK  0x3FL
 FILEFLAGS      0x0L
 FILEOS         VOS__WINDOWS32
 FILETYPE       VFT_DLL
 FILESUBTYPE    0x0L
{
    BLOCK "StringFileInfo"
	{
        BLOCK "041103A4"
		{
			VALUE "Comments",         "アイディア提供：正明さん\0"
            VALUE "FileDescription",  "移動ツール Plugin for AviUtl 0.98\0"
            VALUE "FileVersion",      "0.1.0.0\0"
            VALUE "InternalName",     "MoveTool\0"
            VALUE "LegalCopyright",   "(C) MakKi\0"
            VALUE "OriginalFilename", "move.aup\0"
            VALUE "ProductName",      "移動ツール Plugin\0"
            VALUE "ProductVersion",   "0.1.0\0"
		}
	}
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x411, 932
    }
}
